@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1558077586676'); /* IE9 */
  src: url('iconfont.eot?t=1558077586676#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1558077586676') format('woff'),
  url('iconfont.ttf?t=1558077586676') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1558077586676#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dmp-icon-gongju:before {
  content: "\e602";
}

.dmp-icon-bangzhu:before {
  content: "\e603";
}

.dmp-icon-shangchuan:before {
  content: "\e605";
}

.dmp-icon-huaxiangfenxi:before {
  content: "\e607";
}

.dmp-icon-renqunguanli:before {
  content: "\e608";
}

.dmp-icon-yonghu:before {
  content: "\e609";
}

.dmp-icon-wenhao:before {
  content: "\e60a";
}

.dmp-icon-CSV:before {
  content: "\e60b";
}

.dmp-icon-zhuyi:before {
  content: "\e60c";
}

.dmp-icon-tuozhuai:before {
  content: "\e60d";
}

.dmp-icon-biaoqianjishi:before {
  content: "\e60e";
}

.dmp-icon-zidingyi:before {
  content: "\e610";
}

.dmp-icon-gengduocaozuo:before {
  content: "\e60f";
}

.dmp-icon-mima:before {
  content: "\e611";
}

