@import "./assets/font/iconfont.css";
[class^="ac-icon-"], [class*=" ac-icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { margin: 0;}

/*布局start*/
#app { min-width: 1200px; margin: 0 auto; font-family: "Helvetica Neue", "PingFang SC", Arial, sans-serif; }
.wrapper{height: 100%;position: relative;}
.main-left { text-align: center; width: 220px;float: left;background: #fff;position: fixed;;height: 100%;overflow-y: auto;z-index: 999;top:60px;border-right: solid 1px #e6e6e6;}
.main-right{padding: 60px 0 20px 220px;background: #f5f5f5;}
.mainContainer{padding-left: 15px;padding-top: 15px;}

.bui-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@for $i from 1 to 12 {
    .bui-col-#{$i} {
        -webkit-box-flex: $i;
        -webkit-flex: $i;
        flex: $i;
        overflow: hidden;
    }
}
/*布局end*/

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.fl{float: left;}
.fr{float: right;}
.p5{padding: 5px!important}
.p10{padding: 10px!important}
.p15{padding: 15px!important}
.ovh{overflow: hidden;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.block{display: block;}
.dib{display: inline-block;}
.m0  {margin:0px!important;} .m5 {margin:5px!important;} .m10 {margin:10px!important;} .m15 {margin:15px!important;} .m20 {margin:20px!important;} .m25 {margin:25px!important;} .m30 {margin:30px!important;}
.mt0 {margin-top: 0px!important;}.ml0 {margin-left: 0px!important;}.mr0 {margin-right: 0px!important;} .mb0 {margin-bottom: 0px!important;}
.mt5 {margin-top:5px!important;} .mt10 {margin-top: 10px!important;} .mt15 {margin-top: 15px!important;} .mt20 {margin-top: 20px!important;} .mt25 {margin-top: 25px!important;} .mt30 {margin-top: 30px!important;}
.ml5 {margin-left:5px!important;} .ml10 {margin-left:10px!important;} .ml15 {margin-left:15px!important;} .ml20 {margin-left:20px!important;} .ml25 {margin-left:25px!important;} .ml30 {margin-left:30px!important;}
.mb5 {margin-bottom:5px!important;} .mb10 {margin-bottom:10px!important;} .mb15 {margin-bottom:15px!important;} .mb20 {margin-bottom:20px!important;} .mb25 {margin-bottom:25px!important;} .mb30 {margin-bottom:30px!important;}
.mr5 {margin-right:5px!important;} .mr10 {margin-right:10px!important;} .mr15 {margin-right:15px!important;} .mr20 {margin-right:20px!important;} .mr25 {margin-right:25px!important;} .mr30 {margin-right:30px!important;}
/* padding */
.p0  {padding:0px!important;} .p5 {padding:5px!important;} .p8 {padding:8px!important;} .p10 {padding:10px!important;} .p15 {padding:15px!important;} .p20 {padding:20px!important;} .p25 {padding:25px!important;} .p30 {padding:30px!important;}
.pt0  {padding-top:0px!important;} .pr0  {padding-right:0px!important;} .pb0  {padding-bottom:0px!important;} .pl0  {padding-left:0px!important;}
.pt5 {padding-top: 5px!important;} .pt10 {padding-top: 10px!important;} .pt15 {padding-top: 15px!important;} .pt20 {padding-top: 20px!important;} .pt25 {padding-top: 25px!important;} .pt30 {padding-top: 30px!important;}
.pl5 {padding-left: 5px!important;} .pl10 {padding-left: 10px!important;} .pl15 {padding-left: 15px!important;} .pl20 {padding-left: 20px!important;}.pl25 {padding-left: 25px!important;} .pl30 {padding-left: 30px!important;}
.pb5 {padding-bottom: 5px!important;} .pb10 {padding-bottom: 10px!important;} .pb15 {padding-bottom: 15px!important;} .pb20 {padding-bottom: 20px!important;} .pb25 {padding-bottom: 25px!important;} .pb30 {padding-bottom: 30px!important;}
.pr5 {padding-right: 5px!important;} .pr10 {padding-right: 10px!important;} .pr15 {padding-right: 15px!important;} .pr20 {padding-right: 20px!important;} .pr25 {padding-right: 25px!important;} .pr30 {padding-right: 30px!important;}
.w100{width: 100px!important;}
.w200{width: 200px!important;}
.w300{width: 300px!important;}
.w400{width: 400px!important;}
.w500{width: 500px!important;}
.w700{width: 700px!important;}
.w900{width: 900px!important;}
.w1200{width: 1200px!important;}
.lh36{line-height: 36px;}
.c-9{color: #999;}
.bg-white{background-color: #fff!important;}
.fs12{font-size: 12px!important;}
.fs13{font-size: 13px!important;}
.fs16{font-size: 16px!important;}
.fs18{font-size: 18px!important;}
.fs20{font-size: 20px!important;}
.fs26{font-size: 26px!important;}
